.fl-tabnav ul li {
    width: 25%;
    text-align: center;
    background: #818181;
}

.fl-tabnav ul li a {
    color: white;
    padding: 1rem;
    margin: 5px;
}

.admin-donasi-list img {
    width: 50px;
}

.admin-donasi-list p {
    font-size: 10px;
}

.admin-donasi-list p.name {
    font-size: 1rem;
}

.custom-switch {
    padding-left: 0px;
}

.tf-v1-sidetab {
    display: none;
}
