.main-sidebar>.brand-link>img{
    content: url('../images/logo_demasjid_gram_sidebar.png');
    box-shadow: none !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    height: 32px !important;
    width: 32px !important
}

.main-sidebar>.brand-link{
    border-bottom: 1px solid #FFFFFF;
}

.main-sidebar>.brand-link>.brand-text{
    position: relative;
    color: #F3F6F6;
}

.main-sidebar>.brand-link>.brand-text::before{
    position: absolute;
    content: url('../images/logo_demasjid_gram_sidebar_type.png');
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.bg-demasjid {
    background-image: url("../images/background/demasjid_bg_owhite_c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rounded5 {border-radius:5px !important;}
.rounded10{border-radius:10px !important;}
.rounded15{border-radius:15px !important;}
.rounded20{border-radius:20px !important;}
.rounded25{border-radius:25px !important;}
.rounded50{border-radius:50px !important;}
.btn, button, input[type=submit], input[type=button] {border-radius:50px !important;}
.paddinglr0{padding-left:0;padding-right:0;}
.paddingtb0{padding-top:0;padding-bottom:0;}
.clickable{cursor:pointer;}

.main-sidebar.elevation-4{
    box-shadow: none !important;
}

.sidebar{
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    /*styleName: text_link;*/
font-family: Nunito Sans;
font-size: 13px;
font-weight: 600;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
border: 1px solid #ffffff;
color: #636061;
}

.sidebar-mini .main-sidebar .nav-link>i, 
.sidebar-mini-md .main-sidebar .nav-link>i, 
.sidebar-mini-xs .main-sidebar .nav-link>i{
    vertical-align: middle;
}

.sidebar-mini .main-sidebar .nav-link.active,
.sidebar-mini-md .main-sidebar .nav-link.active, 
.sidebar-mini-xs .main-sidebar .nav-link.active{
    background: #ffffff;
    color: #249A84
}

.nav-pills .nav-link:not(.active):hover{
    color: #249A84;
    background: white
}

.nav-sidebar .nav-item.menu-is-opening.menu-open{
    border: 1px solid white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.nav-sidebar .nav-item.menu-is-opening.menu-open>ul{
    border: 0px solid white;
    padding-right: 12px;
    padding-left: 12px;
}
.nav-sidebar .nav-item.menu-is-opening.menu-open>ul>li.nav-item{
    border: 0px solid white !important;
}

.nav-sidebar .nav-item.menu-is-opening.menu-open>a{
    background: white;
}

.nav-sidebar .nav-item.menu-is-opening.menu-open>ul>li.nav-item>a{
    border: 2px solid white !important;
}

.nav-sidebar .nav-item.menu-is-opening.menu-open>ul>.nav-item:last-child>a{
    color: #636061 !important
}

.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right{
    top: 0 !important;
    margin: auto;
    bottom: 0 !important;
display: flex;
justify-content: center;
}

.nav-sidebar .nav-link>.right:before, .nav-sidebar .nav-link>p>.right:before{
    content: "\e910" !important;
    font-family: 'icomoon' !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #B5B3B3;
    font-size: 14px;
}

.main-sidebar{
    background: #f3f6f6
}

.main-sidebar .user-panel{
    background: linear-gradient(88.86deg, #249A84 0%, #83B866 100%);
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    padding: 16px 0px 16px 0px;
    flex-direction: column;
    justify-content: center;
}

.main-sidebar .user-panel>div{
    text-align: center;
    color: white
}

.main-sidebar .user-panel>div.image{
    padding-left: unset !important;    }

.main-sidebar .os-host-scrollbar-horizontal-hidden .user-panel>div.image>img{
width: 56px;
height: 56px;
}

.main-sidebar .user-panel>div a{
font-family: Nunito Sans;
font-size: 18px !important;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
background-color: none !important;
    color: white !important;
}

.main-sidebar .user-panel .info{
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px
}

.de_user_role{font-family: Nunito Sans;
font-size: 11px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: center;
color: white;
margin-top: 4px;
}

.navbar-light{
    background: white !important;
}

.content-wrapper{
    background: white !important
}

.content-header h1{
    color: #249A84;
font-family: Montserrat;
font-size: 20px !important;
font-weight: 700 !important;
line-height: 24px !important;
letter-spacing: 0em !important;
text-align: left;
}

a{
    color: #249A84;font-family: 'Nunito Sans';
    /*font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;*/
}

.btn{
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

.btn-primary{
    background-color: #249A84;
    border-color: #249A84;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    padding: 12px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600 !important;
font-size: 13px !important;
line-height: 14px;
}

.btn-primary.disabled, .btn-primary:disabled{
    background-color: #249A84;
    border-color: #249A84;
}

.daterangepicker td.active, .daterangepicker td.active:hover,
.dropdown-item.active, .dropdown-item:active{
    background-color: #249A84;
    color: white;
}

.dropdown-item:hover.active{
    color: #249A84
}

.btn-success{
    background-color: #00B248;
}

.btn-primary>.fas.fa-save:before{
content: "\e92e";
font-family: 'icomoon';
font-size: 20px;
font-weight: 100 !important;}

.btn-primary>i{
    vertical-align: middle;
}

button[hx-delete]{
    color: #FF5252 !important;
    width: 100%;
    height: 40px
}

button[hx-delete]:before{
    content: "\e90b";
    font-family: 'icomoon';
    font-size: 20px;
    font-weight: 100;
    margin-right: 8px;
}

a[href$="edit"]{/*
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;*/
}

a[href$="edit"]:before{
    content: "\e911";
    font-family: 'icomoon';
    margin-right: 8px ;
    font-size: 20px;
    font-weight: 100;
}

/*user-panel mt-3 pb-3 mb-3 d-flex*/

/*Icomoon*/
.nav-icon.fas.fa-tachometer-alt:before{
    content: "\e917" !important;
    font-family: 'icomoon' !important;
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-mosque:before,
.nav-icon.fas.fa-building:before{
    content: "\e922" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-school:before,
.nav-icon.fas.fa-university:before{
    content: "\e928" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-donate:before{
    content: "\e92e" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-quran:before,
.nav-icon.fas.fa-graduation-cap:before{
    content: "\e902" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-shopping-bag:before{
    content: "\e93c" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-globe:before{
    content: "\e938" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-info:before{
    content: "\e919" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-palette:before{
    content: "\e93b" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-cog:before{
    content: "\e931" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-toolbox:before{
    content: "\e933" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-arrow-right:before{
    content: "\e91c" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-calculator:before{
    content: "\e92f" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-double-right:before{
    content: "\e93d" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-users:before{
    content: "\e924" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-book:before{
    content: "\e93a" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-tv:before{
    content: "\e907" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-microchip:before{
    content: "\e91b" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-icon.fas.fa-bars:before{
    content: "\e91e" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.fa-bars:before{
    content: "\e91e" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.fa-search:before{
    content: "\e930" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}


.fa-bell:before{
    content: "\e923" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}


/*.flag-icon-id:before{
    content: "\e93e" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}*/


.flag-icon-id{
    position: relative;
    color: rgb(225, 34, 55);
    content: "\e940";
    font-family: 'icomoon';
    font-style: normal;
}

.flag-icon-id:before{
    color: rgb(225, 34, 55);
    content: "\e940";
    font-family: 'icomoon';
background: white;
border-radius: 2px;}

.flag-icon{
    font-style: normal;}

.fa-comments:before{
    content: "\e941" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.fa-calendar-alt:before{
    content: "\e90c" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.fa-angle-double-right:before{
    content: "\e93d" !important;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
}

.nav-sidebar .nav-item:last-child a{
    color: #FF5252;
}

.nav-sidebar .nav-item:last-child:hover a{
    color: white;
}

.nav-sidebar .nav-item:last-child:hover .nav-link{
    background-color: #FF5252
}

.nav-sidebar .nav-treeview .nav-item:last-child:hover .nav-link{
    background-color: white !important;
}

.nav-sidebar .nav-item.menu-is-opening.menu-open>ul>.nav-item:last-child:hover{
background-color: white}

.nav-sidebar .divider{
    opacity: 0;
}

.nav-sidebar .nav-item>.nav-link{
    margin-bottom: 8px;
}

.nav-link i{
    font-size: 24px;
}

.nav-link i.flag-icon{
    font-size: 14px;
    padding: 0;
    border: #F1F1F1 solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 8px;
}

.nav-item:last-child{
    border: 1px solid #F1F1F1;
    border-radius: 8px;
}

.navbar-nav:last-child>.nav-item:last-child{
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    /*padding: 9px 0px 9px 6px;*/
    margin-left: 24px
}

.navbar-nav:last-child>.nav-item:last-child .dropdown{
    border: none;
}

.nav-item:last-child.dropdown:after{
    content:"\e910";
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #B5B3B3;z-index: -1;
} 

.main-sidebar .user-panel>div.image>img{
    width: 32px;
    height: 32px;
    border: 2px solid white;
    box-shadow: none !important;
}

.main-sidebar .os-host-scrollbar-horizontal-hidden .user-panel div.info{
    display: block;
    }

    .main-sidebar .user-panel div.info{
        display: none
        }

        .form-control:focus{
            border-color: #249A84
        }

        .main-header{
            border-bottom: none;
            box-shadow: 0px 8px 24px 24px #F3F6F67A;
        }

        .nav-item.dropdown>.dropdown-menu>.dropdown-item.active{
            background: #249A84
        }

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus{
    background-color: #1D6255 !important;
    border-color: #1D6255 !important;
}

.main-footer{
    padding: 16px 12px 16px 126px;
}

.tf-v1-sidetab-button{
    margin-left: 0px !important;
    top: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: unset !important;
    border-radius: 8px 8px 0px 0px !important;
    -webkit-border-radius: 8px 8px 0px 0px !important;
    -moz-border-radius: 8px 8px 0px 0px !important;
    -ms-border-radius: 8px 8px 0px 0px !important;
    -o-border-radius: 8px 8px 0px 0px !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
}

.tf-v1-sidetab{
    top: unset !important;
    right: unset !important;
    bottom: 0;
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
    box-shadow: none !important;
    left: 251px;
}

.tf-v1-sidetab-button{
    left: 0px !important;

}

.tf-v1-sidetab-button-text, .tf-v1-sidetab-button{
    font-family: Nunito Sans !important;
font-size: 13px !important;
font-weight: 300 !important;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
}

.tf-v1-sidetab-button-icon>img{
    position: relative;
    content: url('../images/icon_feedback.svg') !important;
    height: 18px !important;
    width: 18px !important;
    margin-right: 8px !important;
}

.tf-v1-sidetab-button-icon{
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
}


.tf-v1-sidetab-button-text {
    margin-left: 1px !important;
}
.tf-v1-sidetab-button {
    max-width: 390px !important;
    height: 32px !important;
    padding: 0 12px !important;
    /*border-radius: 8px 8px 0 0;*/
}
.tf-v1-sidetab-button-icon {
  margin-right: 0px !important;
  height: 18px !important;
  width: 18px !important;
}

/*.tf-v1-sidetab-button-icon>img:after{
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
content: "\e90c" !important;
font-family: 'icomoon';
font-weight: 100;
font-size: 20px;
}*/

.demasjid_relative{
    position: relative !important;
}

.container-fluid>div>div>div>.h2, .container-fluid>div>div>div>h2{
    color:#249A84;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;    
}

/* Menu Icon*/
.de_menu .small-box .icon-icon_zakat:before{
    color: white !important;
    font-size: 64px;
}

.de_menu>.row>.col-md-3 .small-box{
    color: white !important;
    border: 4px solid white;
    box-shadow: 0px 4px 28px rgba(29, 98, 85, 0.08);
    border-radius: 24px;
}

.de_menu>.row>.col-md-3 .small-box>a{
    width: 100%;
    height: 100%;
    position: absolute;
    color:#FFFFFF00 !important;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    background-color: #00000000
}

.de_menu>.row>.col-md-3>.small-box>div{
    text-align: center;
    margin: 0;
    padding: 0;
}

.de_menu>.row>.col-md-3>.small-box>div>p{
    text-align: center;
    margin: 0;
    padding-top: 32px !important;
}

.de_menu>.row>.col-md-3>.small-box>div>h3{
    display: none;
}

.de_menu>.row>.col-md-3>.small-box{
    display: flex;
    flex-direction: column;
}

.de_menu>.row>.col-md-3>.small-box>p{
    order: 2
}
.de_menu>.row>.col-md-3>.small-box>.icon{
    text-align: center;
    order: 1;
    margin-top: 32px;
}

.de_menu>.row>.col-md-3>.small-box>.inner{
    order: 2;
    margin-bottom: 32px;
}

.de_menu>.row>.col-md-3>.small-box>.icon>i{
    position: relative !important;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 64px;
}

.de_menu>.row>.col-md-3>.small-box>.icon>i:before{
    text-align: center;
    font-size: 64px;
    color:white;
}

.de_menu>.row>.col-md-3:nth-child(1) .small-box{
    background-color: #249A84 !important;
}

.de_menu>.row>.col-md-3:nth-child(2) .small-box{
    background-color: #83B866 !important;
}

.de_menu>.row>.col-md-3:nth-child(3) .small-box,
.de_menu>.row>.col-md-3:nth-child(6) .small-box
{
    background: linear-gradient(88.86deg, #249A84 0%, #83B866 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF) !important;
}

.de_menu>.row>.col-md-3:nth-child(4) .small-box{
    background-color: #1D6255 !important;
}

.de_menu>.row>.col-md-3:nth-child(5) .small-box{
    background-color: #417121 !important;
}

.de_menu>.row>.col-md-3:nth-child(3){
    flex: 0 0 50% !important;
    max-width: 50% !important;
}

.main-footer strong,
.main-footer b{
    font-family: Nunito Sans;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #0C0A0A;
}

.main-footer strong a{
    font-family: Nunito Sans;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}

.main-footer a:hover{color: #1D6255
}

.main-footer{
    font-family: Nunito Sans;
font-size: 14px;
font-weight: 600;
color: #636061;
}

.tf-v1-sidetab.ready{
    height: 32px;
    width: 118px;
}
.tf-v1-sidetab.ready.open{
    height: 450px;
    width: 420px;
}

/*Form*/
table .dropdown-menu.show{
    border: none;
     box-shadow: 0px 4px 40px 0px #1D625547;
     padding: 8px;
     border-radius: 16px    ;
     -webkit-border-radius: 16px    ;
     -moz-border-radius: 16px    ;
     -ms-border-radius: 16px    ;
     -o-border-radius: 16px    ;
     display: flex;
     flex-direction: column;
     gap: 4px;
}

table .dropdown-menu.show li>a,
table .dropdown-menu.show li>button{
    border: 1px solid #F1F1F1;
    color: #636061;
    font-family: Nunito Sans;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 14px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%
}

table .dropdown-menu.show li i{
    font-size: 16px !important;
    margin-right: 8px;vertical-align: middle;
}

table .dropdown-menu.show li i:before{
}

table .dropdown-menu.show .dropdown-item{
    padding: 12px;
    border-radius: 8px
}

table .dropdown-menu.show .btn{
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

table .dropdown-menu.show .dropdown-divider{
    display: none;
}

table .dropdown-menu.show li a:contains('Edit'),
table .dropdown-menu.show li a[text='Edit'],
table .dropdown-menu.show li a[innertext='Edit']{
    color:green !important;
    
}

table thead{
    border-top: 1px solid #F1F1F1 !important;
    border-bottom: 1px solid #BCFF98 !important;
}

table th{
    border-top: 1px solid #F1F1F1 !important;
    border-bottom: 1px solid #BCFF98 !important;
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #231F20
}

.page-head .back{
    content: 'icon' !important;
    font-family: 'icomoon';
    font-weight: 100;
    display: inline-block;
    color: #249A84;font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: white;
    margin-left: 32px;
    
}

.btn-3-dots{
    background-color: #249A84;
    color: #FFFFFF00 !important;
    padding: 0px 12px !important;
    width: 68px;
    height: 32px;
    border: 0px;
}

.btn-3-dots.btn-default:hover{
    background-color: #1D6255
}

.btn-3-dots:after,
.btn-3-dots.dropdown-toggle.empty:after{
    content: '\e921';
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 20px;
    color: white !important;
    padding: 0px;
    border: 0px !important
}

.page-head .back:before{
    content: '\e905';
    font-family: 'icomoon';
    font-size: 24px;
    color: #636061 !important;
    position: absolute;
    margin-top: -12px;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid #F1F1F1;
    background: white;
    margin-left: -32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
    box-shadow: 0px 4px 28px 0px #1D625500;
}

.page-head .back:hover:before{
    box-shadow: 0px 4px 28px 0px #1D625514;
    transition: all 150ms;
}

.container-fluid>div>h4>i{
    display:none}
    .container-fluid>div>h4{
        font-family: Nunito Sans;
font-size: 18px !important;
font-weight: 400 !important;
line-height: 22px !important;
letter-spacing: 0em;
text-align: left;
color: #231F20;
padding-bottom: 16px !important;
position: relative;
}

.container-fluid>div>h4::before{
    background: #F1F1F1;
    height: 1px;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
}

.container-fluid>div>form{
    padding-top: 20px;
}

.container-fluid>div>form>.text-end.py-3{
    padding: 20px 0px 0px 0px !important;
    margin-top: 20px;
    position: relative;
}

.container-fluid>div>form>.text-end:before{
    height: 1px;
    width: 100%;
    background-color: #BCFF98;
    display: block;
    content: "";
    position:absolute;
    top: 0;
}

.container-fluid>div>form>fieldset input[type=text]{
    background: #F3F6F6;
    padding: 16px 12px;
    border-color: #F3F6F6;
    color: #636061;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container-fluid>div>form>fieldset input[type=text]::placeholder{
    color: #B5B3B3;font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    min-height: 16px;
    }

.container-fluid>div>form>fieldset input[type=text]:focus{
        border-color: #249A84;
        border-width: 2px;
    }

    .container-fluid>div>form>fieldset input[type=text]:not(:placeholder-shown),
    .container-fluid>div>form>fieldset input[type=text]:focus-within{
        border-color: #249A84;
    }

    .container-fluid>div>form>fieldset     .col-form-label{
        font-family: Nunito Sans;
font-size: 11px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #636061
    }

.container-fluid>div>form>fieldset .row.mb-3{
        flex-direction: column;
    }

    
.container-fluid>div>form>fieldset .row.mb-3 .col-sm-10{
    flex: 0 0 100%;
    width: 100%;
    max-width: unset !important;
}

.container-fluid>div.bg-white{
    box-shadow: 0px 4px 28px 0px #1D625514 !important;
    border-color: #F1F1F100 !important;
}

.de_dashboard{}

.card-header .fa-wrench:before{
    content: '\e915';
    font-family: 'icomoon';
    font-size: 24px;
    font-weight: 100;

}